openapi: 3.1.0
info:
  title: Coordinate REST Comments Webhooks API
  version: v1
  description: 'The Coordinate REST API lets you add, update, and retrieve the entities that make up Coordinate''s client project-execution platform: projects, project pages, tasks, task groups, stakeholders, goals, progress reports, discussion entries (comments), and organizations. All requests are scoped to the vendor that owns the API key; `vendor_id` is derived from the key and cannot be overridden. A companion webhook API lets external systems subscribe to create/update events. This description is captured by the API Evangelist enrichment pipeline from Coordinate''s published agent-oriented API reference.'
  contact:
    name: Coordinate Support
    email: support@coordinatehq.com
    url: https://www.coordinatehq.com/library/integrating-with-coordinate
  termsOfService: https://coordinatehq.com/legal/terms-and-conditions
  x-api-reference: https://app.coordinatehq.com/static/API_Documentation.html
servers:
- url: https://app.coordinatehq.com/api/v1
  description: Production
security:
- BearerHeader: []
tags:
- name: Webhooks
  description: Webhook subscription management.
paths:
  /webhook_subscribe:
    post:
      operationId: subscribeWebhook
      summary: Create a webhook subscription
      description: Registers an HTTPS endpoint to receive create/update events.
      tags:
      - Webhooks
      parameters:
      - name: hookUrl
        in: query
        required: true
        description: HTTPS URL that will receive event POSTs.
        schema:
          type: string
          format: uri
      - name: endpoint_nickname
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Endpoint id for later unsubscribe
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhook_subscribe/{endpoint_id}:
    parameters:
    - name: endpoint_id
      in: path
      required: true
      schema:
        type: string
    delete:
      operationId: unsubscribeWebhook
      summary: Remove a webhook subscription
      tags:
      - Webhooks
      responses:
        '200':
          description: Subscription removed
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key
  securitySchemes:
    BearerHeader:
      type: apiKey
      in: header
      name: Bearer
      description: 'API key sent in a custom `Bearer:` header (note: this is a header named "Bearer", not the standard `Authorization: Bearer` scheme). Create keys in the Coordinate UI under Settings > Integrations > API Keys. The key scopes all requests to its owning vendor.'
